<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <title>Admin Home Page</title>
    <link rel="stylesheet" href="/static/css/adminhome.css">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="top-row">
        <div class="btn-box1">
          <button type="button" name="button" id="GoBack" style="width: 100px;font-size: 17px;border-radius: 40px;">
            Home&nbsp;&nbsp;&nbsp;
            <i class='fas fa-home'></i>
          </button>
        </div>
        <form id="title">
          <a class="text-big">Welcome to Bon Voyage</a><br><a class="text-big" style="margin-left: 150px;">Admin Page</a>
        </form>
      </div>
      <div class="step-row" id="steprow">
        <div id="progress"></div>
        <div class="step-col"><small><span id="demo2" style="font-family: cursive;font-size:25px;"></span></small></div>
      </div>

      <form id="Form0">
        <br><br><br>
        <div class="btn-box">
          <button type="button" id="mpd" style="font-size:17px;height: 50px;width: 240px;border-radius: 40px;">
            <a style="margin-left: 5px;">Manage Places Details</a>
            <i class="fa fa-plus" style="font-size:23px;margin-bottom: -15px;margin-left: 5px;"></i>
          </button>
        </div>
        <div class="btn-box">
          <button type="button" id="mh" style="font-size:17px;height: 50px;width: 240px;border-radius: 40px;">
            <a style="margin-left: 5px;">Add New Hotels</a>
            <i class="fa fa-plus" style="font-size:23px;margin-bottom: -15px;margin-left: 55px;"></i>
          </button>
        </div>
        <div class="btn-box">
          <button type="button" style="font-size:17.5px;height: 50px;width: 240px;border-radius: 40px;" onclick="location.href='http://127.0.0.1:5000/'">
            <a style="margin-left: 5px;">Log Out</a>
            <i class="fa fa-sign-out" style="font-size:26px;margin-bottom: -15px;margin-left: 115px;"></i>
          </button>
        </div>
      </form>

      <form id="Form1" method="POST" style="width: 550px;">
        <div class="input-box">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Place Title :</span>
            </div>
            <input name="Place-Title" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width: 200px;">
          </div>
        <div class="input-box">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Image URL :</span>
              </div>
              <input name="Img-Url" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <div class="input-box">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Place Location :</span>
              </div>
              <input name="Place-Loc" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width: 200px;">
        </div>
        <div class="input-box">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Price(Per Person) :</span>
              </div>
              <input name="price" type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width: 200px;">
            </div>
        <div class="btn-box">
            <button type="submit" name="button-submit" id="M_submit">Add All Details</button>
        </div>
    </form>

      <form id="Form2" method="POST">
        <div class="input-box">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Hotel Name :</span>
            </div>
            <input name="Hotel-Name" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width: 200px;">
          </div>
        <div class="input-box">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Place Location :</span>
              </div>
              <input name="Place-Location" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width: 200px;">
        </div>
        <div class="input-box">
          <div class="input-group-prepend " style="width: 200px; height:25px;margin-right: 20px;">
              <input type="checkbox" style="width: 20px; height: 20px; margin-top: -2px; margin-left: -20px;" checked>
              <span class="input-group-text" style="width:30px; height: 30px; font-size: 14px; padding-bottom: 40px; margin-left: -30px;"  id="basic-addon3">Free WiFi</span>
          </div>
          <div class="input-group-prepend " style="width: 200px; height:25px;margin-right: 20px;">
              <input type="checkbox" style="width: 20px; height: 20px; margin-top: -2px; margin-left: -20px;" checked >
              <span class="input-group-text" style="width:30px; height: 30px; font-size: 14px; padding-top: -40px; margin-left: -30px;"  id="basic-addon3">Air Conditioner</span>
          </div>
          <div class="input-group-prepend " style="width: 200px; height:25px;margin-right: 20px;">
              <input type="checkbox" style="width: 20px; height: 20px; margin-top: -2px; margin-left: -20px;" checked>
              <span class="input-group-text" style="width:30px; height: 30px; font-size: 14px; padding-top: -40px; margin-left: -30px;"  id="basic-addon3">Doctor on Call</span>
          </div>
      </div>
      <div class="input-box" style="width: 800px;">
        <div class="input-group-prepend" style="width: 195px;height:20px;padding-bottom: 5px;">
          <span class="input-group-text" id="basic-addon3">Deluxe Rooms Price:</span>
        </div>
        <input name="Deluxe-Rooms-Price" type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width: 50px;height: 15px;margin-left: 2px;">
        <div class="input-group-prepend" style="width: 190px;height:20px;padding-bottom: 5px;">
          <span class="input-group-text" id="basic-addon3">AC Rooms Price:</span>
        </div>
        <input name="AC-Rooms-Price" type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width: 50px;height: 15px;margin-left: 2px;">
        <div class="input-group-prepend" style="width: 190px;height:20px;padding-bottom: 5px;">
          <span class="input-group-text" id="basic-addon3">Non-AC Rooms Price:</span>
        </div>
        <input name="Non-AC-Rooms-Price" type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width: 50px;height: 15px;margin-left: 2px;">
      </div>
        
      <div class="input-box" style="width: 800px;">
        <div class="input-group-prepend" style="width: 195px;height:20px;padding-bottom: 5px;">
          <span class="input-group-text" id="basic-addon3">Total Deluxe Rooms :</span>
        </div>
        <input name="Deluxe-Rooms" type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width: 50px;height: 15px;margin-left: 2px;">
        <div class="input-group-prepend" style="width: 190px;height:20px;padding-bottom: 5px;">
          <span class="input-group-text" id="basic-addon3">Total AC Rooms :</span>
        </div>
        <input name="AC-Rooms" type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width: 50px;height: 15px;margin-left: 2px;">
        <div class="input-group-prepend" style="width: 190px;height:20px;padding-bottom: 5px;">
          <span class="input-group-text" id="basic-addon3">Total Non-AC Rooms :</span>
        </div>
        <input name="Non-AC-Rooms" type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3" style="width: 50px;height: 15px;margin-left: 2px;">
      </div>
        <div class="btn-box">
            <button type="submit" name="button-submit" id="A_submit">Add All Details</button>
        </div>
      </form>
    </div>
  </body>
  <script>
    var title = document.getElementById("title");
        
    var Form0 = document.getElementById("Form0");
    var Form1 = document.getElementById("Form1");
    var Form2 = document.getElementById("Form2");
        
    var Next1 = document.getElementById("Next1");
    var Back1 = document.getElementById("Back1");
        
    var mpd = document.getElementById("mpd");
    var mh = document.getElementById("mh");
    var GoBack = document.getElementById("GoBack");
        
    var demo2 = document.getElementById("demo2");

    var progress = document.getElementById("progress");
    var A_submit = document.getElementById("A_submit");
    var M_submit = document.getElementById("M_submit");
    title.style.width = "900px";
    title.style.left = "120px";
    title.style.top = "20px";
    Form0.style.top = "180px";
    GoBack.style.backgroundColor="transparent";
    GoBack.style.color = "transparent";
    progress.style.backgroundColor ="transparent";
    
    mpd.onclick= function(){
      Form0.style.left = "-850px";
      Form1.style.left = "130px";
      title.style.top = "-500px";
      GoBack.style.backgroundColor="rgba(255, 255, 255, 0.488)";
      GoBack.style.color = "black";
      progress.style.backgroundColor = "rgb(212, 207, 207,0.505)";
      demo2.innerHTML = "Manage Places Details";
      M_submit.value="M";
    }
    mh.onclick= function(){
      Form0.style.left = "-850px";
      Form2.style.width="1000px";
      Form2.style.left = "20px";
      title.style.top = "-500px";
      GoBack.style.backgroundColor="rgba(255, 255, 255, 0.488)";
      GoBack.style.color = "black";
      progress.style.backgroundColor = "rgb(212, 207, 207,0.505)";
      demo2.innerHTML = "Add New Hotels";
      A_submit.value="A";
    }
    GoBack.onclick = function(){
      Form0.style.left = "210px";
      Form1.style.left = "-950px";
      Form2.style.width="500px";
      Form2.style.left = "850px";
      title.style.left = "120px";
      title.style.top = "20px";
      GoBack.style.backgroundColor="transparent";
      GoBack.style.color = "transparent";
      progress.style.backgroundColor = "transparent";
      demo2.innerHTML = "";
      M_submit.value="";
      A_submit.value="";
    }
  </script>
</html>