<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <title>Tourism</title>
    <link rel="stylesheet" href="/static/css/hotel_home_page.css">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    
  </head>
  <body>
    <div class="container">
      <div class="top-row">
        <div class="btn-box1">
          <button type="button" name="button" id="GoBack" style="width: 100px;font-size: 17px;border-radius: 40px;">
            Home&nbsp;&nbsp;&nbsp;
            <i class='fas fa-home'></i>
          </button>
        </div>
        <form id="title">
          <a class="text-big">Welcome to Bon Voyage</a><br><a class="text-big" style="margin-left: 50px;">Hotel Representative Page</a>
        </form>
      </div>
      <div class="step-row" id="steprow">
        <div id="progress"></div>
        <div class="step-col"><small><span id="demo2" style="font-family: cursive;font-size:25px;"></span></small></div>
      </div>

      <form id="Form0">
        <br><br><br>
        <div class="btn-box">
          <button type="button" id="edit_ur_htl_dtls" style="font-size:17px;height: 50px;width: 250px;border-radius: 40px;">
            <a style="margin-left: 5px;">Edit Your Hotel Details</a>
            <i class="fa fa-plus" style="font-size:23px;margin-bottom: -15px;margin-left: 25px;"></i>
          </button>
        </div>
        <div class="btn-box">
          <button type="button" style="font-size:17.5px;height: 50px;width: 240px;border-radius: 40px;" onclick="location.href='http://127.0.0.1:5000/'">
            <a style="margin-left: 5px;">Log Out</a>
            <i class="fa fa-sign-out" style="font-size:26px;margin-bottom: -15px;margin-left: 115px;"></i>
          </button>
        </div>
      </form>

      <form id="Form1" method="POST">
        
        <div class="input-box">
          <div class="input-group-prepend">
            <span class="input-group-text">Deluxe Rooms Remaining</span>
          </div>
          <input type="number" name="Deluxe-Rooms" class="form-control" aria-label="Count" style="width: 80px;">
          <div class="input-group-append">
            <span class="input-group-text">/{{t_no_d}}</span>
          </div>
          <div class="input-group-prepend" style="margin-left: 30px;">
            <span class="input-group-text">Price per head(Rs.)</span>
          </div>
          <input type="number" name="Deluxe-Price" class="form-control" aria-label="Count" style="width: 80px;">
        </div>
        <br>
        <div class="input-box">
          <div class="input-group-prepend">
            <span class="input-group-text">AC Rooms Remaining</span>
          </div>
          <input type="number" name="AC-Rooms" class="form-control" aria-label="Count" style="width: 80px;">
          <div class="input-group-append">
            <span class="input-group-text">/{{t_no_a}}</span>
          </div>
          <div class="input-group-prepend" style="margin-left: 30px;">
            <span class="input-group-text">Price per head(Rs.)</span>
          </div>
          <input type="number" name="AC-Price" class="form-control" aria-label="Count" style="width: 80px;">
        </div>
        <br>
        <div class="input-box">
          <div class="input-group-prepend">
            <span class="input-group-text">Non-AC Rooms Remaining</span>
          </div>
          <input type="number" name="Non-AC-Rooms" class="form-control" aria-label="Count" style="width: 80px;">
          <div class="input-group-append">
            <span class="input-group-text">/{{t_no_n}}</span>
          </div>
          <div class="input-group-prepend" style="margin-left: 30px;">
            <span class="input-group-text">Price per head(Rs.)</span>
          </div>
          <input type="number" name="Non-AC-Price" class="form-control" aria-label="Count" style="width: 80px;">
        </div>
    <div class="btn-box">
      <button type="submit" name="submit-button" value="log_submit" id="log_submit">Update Details</button>
    </div>
  </form>
  </div>
  </body>
  <script>
    var title = document.getElementById("title");
        
    var Form0 = document.getElementById("Form0");
    var Form1 = document.getElementById("Form1");
        
    var Next1 = document.getElementById("Next1");
    var Back1 = document.getElementById("Back1");
        
    var edit_ur_htl_dtls = document.getElementById("edit_ur_htl_dtls");
    var GoBack = document.getElementById("GoBack");
        
    var demo2 = document.getElementById("demo2");

    var progress = document.getElementById("progress");
    var log_submit = document.getElementById("log_submit");
    title.style.width = "900px";
    title.style.left = "120px";
    title.style.top = "20px";
    Form0.style.top = "180px";
    GoBack.style.backgroundColor="transparent";
    GoBack.style.color = "transparent";
    progress.style.backgroundColor ="transparent";
    
    
    edit_ur_htl_dtls.onclick= function(){
      Form0.style.left = "-850px";
      Form1.style.width = "1000px";
      Form1.style.left = "50px";
      title.style.top = "-500px";
      log_submit.style.marginLeft = "-300px";
      GoBack.style.backgroundColor="rgba(255, 255, 255, 0.488)";
      GoBack.style.color = "black";
      progress.style.backgroundColor = "rgb(212, 207, 207,0.505)";
      demo2.innerHTML = "Edit Your Hotel Details Here";
    }
    GoBack.onclick = function(){
      Form0.style.left = "210px";
      Form1.style.width = "500px";
      Form1.style.left = "850px";
      title.style.left = "120px";
      title.style.top = "20px";
      GoBack.style.backgroundColor="transparent";
      GoBack.style.color = "transparent";
      progress.style.backgroundColor = "transparent";
      log_submit.style.marginLeft = "-100px";
      demo2.innerHTML = "";
    }
  </script>
</html>